APScheduler
dnspython
email_validator
fastapi
google-api-python-client
google-genai
hiredis
pydantic
PyJWT
pymongo
python-dotenv
pytz
redis
setuptools
uvicorn
uvloop
motor
boto3
aiohttp
aiodns
yt-dlp
pytest
aiosmtplib
