pymongo
fastapi
uvicorn
pydantic
python-dotenv
aiohttp
redis
PyJWT
bcrypt
email-validator
google-genai
boto3
rich
ruff
isort
uvloop ; platform_system != "Windows"
arrow
jinja2
aiobotocore
types-aiobotocore
aiosmtplib
